<div class="top-header">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-3 col-md-4">
              <div class="logo">
                  <a href="">
                      <img src="https://demo.htmlcodex.com/456/news-website-templates/img/logo.png" alt="Logo" style="height: 60px; width: 8;">
                  </a>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 ms-auto">
              <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-linkedin"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-youtube"></i></a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Top Header End -->


<!-- Header Start -->
<div class="header">
  <!-- <div class="container"> -->
      <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
          <a href="#" class="navbar-brand">MENU</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
              <div class="navbar-nav m-auto">
                  <a routerLink="home" class="nav-item nav-link ">Home</a>
                  <a routerLink="sports" class="nav-item nav-link">Sports</a>
                  <a routerLink="tech" class="nav-item nav-link">Tech</a>
                  <a routerLink="business" class="nav-item nav-link">Bussiness</a>
                  <a routerLink="entertainment" class="nav-item nav-link">Entertainment</a>
                  <a routerLink="international" class="nav-item nav-link">International</a>

                  <div class="nav-item dropdown">
                      <a  class="nav-link dropdown-toggle" data-toggle="dropdown">Language</a>
                      <div class="dropdown-menu">
                          <a routerLink="hindi" class="dropdown-item">Hindi</a>
                          <a routerLink="malayalam" class="dropdown-item"> Malayalam</a>
                          <a routerLink="tamil" class="dropdown-item">Tamil</a>
                          <a routerLink="telungu" class="dropdown-item"> Telungu</a>
                      </div>
                  </div>

                  <a routerLink="contact" class="nav-item nav-link">Contact Us</a>

                  <a routerLink="login" class="nav-item nav-link" *ngIf="!auth.isLogged()">SignIn/SignUP</a>
                  <a routerLink="" class="nav-item nav-link" (click)="logout()"  *ngIf="auth.isLogged()">Logout</a>


              </div>
          </div>
      </nav>
  <!-- </div> -->
</div>


