

h1 {
  margin: 2em 0;
  color: #000000;
}

p {
  max-width: 30em;
  margin: 2em auto;
}

h1 {
  text-align: center;
  overflow: hidden;
}
h1 span {
  display: inline-block;
  position: relative;
}
h1 span:before, h1 span:after {
  content: "";
  border-bottom: 2px solid #00a99d;
  width: 3em;
  margin: 0 1.5em;
  position: absolute;
  bottom: 0.5em;
}
h1 span:before {
  right: 100%;
}
h1 span:after {
  left: 100%;
}
