

  <div class="section login-page container-fluid">
    <div class="row  aligh-item-center">
      <div class="col-sm-9 sm-9">
        <div class="login-extra">
          <img src="../assets/images/svg1.jpg" alt="" style="width: 1400px; height: 730px;">
        </div>
      </div>
      <div class="col-sm-3 p-0">
        <div class="login-form">
          <div class="logo">
            <a  class="">
              <img src="https://demo.htmlcodex.com/456/news-website-templates/img/logo.png" alt="">
            </a>
          </div>
          <div class="page-heading">
            <h2>Login into your account</h2>
          </div>
          <form action="">
            <div class="login-form-items">
            <div class="items">
              <label for="">Email Address</label>
              <div class="input">
                <input type="text" placeholder="Email Address" name="email" [(ngModel)]="email">
                <i class="ri-mail-line"></i>
              </div>
            </div>
            <div class="items">
              <label for="">Password</label>
              <div class="input">
                <input type="text" placeholder="Enter your password" name="password" [(ngModel)]="password">
                <i class="ri-lock-line"></i>
              </div>
            </div>
            <div class="text-end forgot-password">
              <a >Forgot Password?</a>
            </div>
            <div class="form-signin">
              <button class="btn" (click)="login()">Login Now</button>
            </div>
            <div class="or-option">
              <p>or</p>
            </div>
            <div class="form-signup">
              <button class="btn" (click)="gotoSignup()"  >Signup Now</button>
            </div>
          </div>
          </form>
        </div>
      </div>

    </div>
  </div>
